@import url("https://fonts.googleapis.com/css?family=Prompt|Roboto:300");
html {
  scroll-behavior: smooth; }

body {
  background-color: #f2f2f2 !important;
  font-family: 'Roboto', sans-serif !important; }
  body a {
    font-weight: 1000; }

header {
  position: fixed;
  z-index: 10;
  width: 100%; }
  header a {
    color: #747474; }
  header img:hover {
    opacity: .75; }
  header a:hover {
    color: #ebebeb;
    text-decoration: none;
    outline: 0; }
  header .navbar {
    font-weight: 800;
    font-size: 18px; }
  header .navbar-inverse {
    background-color: #f8f6f6;
    border-color: #f2f2f2; }

.main {
  background: #171f23;
  color: #ebebeb;
  padding-top: 300px;
  padding-bottom: 30px; }
  .main img {
    padding-top: 170px; }
  .main p {
    color: #f8f6f6; }
  .main a {
    text-decoration: none; }

.about_us {
  padding-top: 40px; }
  .about_us .about_us_title {
    padding: 20px 20%; }
    .about_us .about_us_title h1 {
      background: url(../img/title_border.png) no-repeat center bottom;
      padding: 10px 0; }
  .about_us .about_us_information {
    padding: 40px 0 120px 0; }
  .about_us .about_us_bottom {
    background: #171f23;
    color: #f8f6f6; }
    .about_us .about_us_bottom .bottom_information {
      display: flex; }
      .about_us .about_us_bottom .bottom_information .row {
        margin: 0; }
    .about_us .about_us_bottom .bottom_title {
      padding: 60px 0; }
      .about_us .about_us_bottom .bottom_title h2 {
        font-weight: 800; }
      .about_us .about_us_bottom .bottom_title p {
        padding: 20px 20%; }
      .about_us .about_us_bottom .bottom_title a {
        background-color: #e87d72;
        padding: 5px 30px;
        color: #f8f6f6;
        text-decoration: none; }
      .about_us .about_us_bottom .bottom_title a:hover {
        background-color: #de4d3f;
        padding: 5px 30px;
        color: #f8f6f6; }
    .about_us .about_us_bottom .bottom_right {
      padding: 0; }
      .about_us .about_us_bottom .bottom_right img:hover {
        opacity: 0.75; }

.our_work {
  padding-top: 40px; }
  .our_work .our_work_title {
    padding: 20px 20%; }
    .our_work .our_work_title h1 {
      background: url(../img/title_border.png) no-repeat center bottom;
      padding-bottom: 10px; }
    .our_work .our_work_title p {
      padding-bottom: 20px;
      font-size: 18px; }
  .our_work #portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem; }
  .our_work .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem; }
  .our_work .btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0); }
  .our_work .btn:hover {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3); }
  .our_work .btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3); }
  .our_work #wrapper {
    background-color: #171f23;
    padding: 100px 25% 100px 29%; }

.who_we_are {
  padding-top: 40px;
  padding-bottom: 100px; }
  .who_we_are .who_we_are_title {
    padding: 0 20%; }
    .who_we_are .who_we_are_title h1 {
      background: url(../img/title_border.png) no-repeat center bottom;
      padding: 20px 0; }
    .who_we_are .who_we_are_title p {
      padding: 20px 0;
      font-size: 18px; }
  .who_we_are .who_we_are_slider {
    padding-top: 60px; }
    .who_we_are .who_we_are_slider .all_info {
      display: flex !important;
      flex-direction: row; }
    .who_we_are .who_we_are_slider .left_side {
      background-color: #ebebeb;
      padding-top: 60px;
      margin-right: 20px; }
      .who_we_are .who_we_are_slider .left_side h2 {
        padding-top: 20px;
        font-weight: 800;
        font-size: 24px; }
      .who_we_are .who_we_are_slider .left_side h3 {
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 15px; }
      .who_we_are .who_we_are_slider .left_side .avatar {
        height: 100px;
        width: 100px;
        background-color: #f26c4f;
        border-radius: 50%;
        display: inline-block;
        padding-bottom: 20px; }
      .who_we_are .who_we_are_slider .left_side .fab {
        padding: 5px;
        color: #747474; }
      .who_we_are .who_we_are_slider .left_side .fab:hover {
        color: #b7b7b7; }
    .who_we_are .who_we_are_slider .right_side {
      padding: 100px 5% 30px 5%;
      background-color: #ebebeb; }
      .who_we_are .who_we_are_slider .right_side h2 {
        font-weight: 1000;
        font-size: 24px; }
      .who_we_are .who_we_are_slider .right_side h3 {
        font-weight: 800;
        font-size: 16px; }
      .who_we_are .who_we_are_slider .right_side p {
        font-size: 16px;
        padding-bottom: 15px; }
      .who_we_are .who_we_are_slider .right_side .skill_bar {
        height: 10%;
        background: #ddd;
        text-align: left;
        margin-top: 8px; }
      .who_we_are .who_we_are_slider .right_side .skill {
        display: grid;
        grid-template-columns: 150px 450px 40px; }
      .who_we_are .who_we_are_slider .right_side .skill1 {
        height: 100%;
        width: 88%;
        background-color: #f26c4f;
        font-size: 1px; }
      .who_we_are .who_we_are_slider .right_side .skill2 {
        height: 100%;
        width: 92%;
        background-color: #f26c4f;
        font-size: 1px; }
      .who_we_are .who_we_are_slider .right_side .skill3 {
        height: 100%;
        width: 90%;
        background-color: #f26c4f;
        font-size: 1px; }
      .who_we_are .who_we_are_slider .right_side .skill4 {
        height: 100%;
        width: 98%;
        background-color: #f26c4f;
        font-size: 1px; }

.some_features {
  padding: 60px 0;
  background: #171f23;
  color: #f8f6f6; }
  .some_features .features_title h1 {
    background: url(../img/title_border.png) no-repeat center bottom;
    padding: 20px 0; }
  .some_features .features_information {
    padding-top: 50px; }
    .some_features .features_information img {
      margin: 10px; }
    .some_features .features_information h3 {
      font-weight: 400;
      margin: 10px; }
    .some_features .features_information p {
      font-weight: 1000;
      font-size: 46px; }

.blog_posts {
  padding-bottom: 120px;
  padding-top: 40px; }
  .blog_posts .blog_title {
    padding: 0 25%; }
    .blog_posts .blog_title h1 {
      background: url(../img/title_border.png) no-repeat center bottom;
      padding: 20px 0; }
    .blog_posts .blog_title p {
      padding: 60px 0;
      font-size: 18px; }
  .blog_posts .container {
    display: flex; }
    .blog_posts .container .col-md-4 {
      background: #ebebeb;
      padding: 0;
      border: 10px solid #f2f2f2; }
    .blog_posts .container h3 {
      padding: 15px; }
    .blog_posts .container p {
      padding: 15px; }
    .blog_posts .container .far {
      padding-bottom: 20px; }
  .blog_posts #link_button {
    background: rgba(0, 0, 0, 0.75);
    padding: 77px; }
    .blog_posts #link_button img {
      padding: 20px;
      margin: 0 auto; }
    .blog_posts #link_button img:hover {
      opacity: .75; }
    .blog_posts #link_button:hover {
      background: url(../img/blog/background.png) no-repeat;
      background-size: 100%; }

.plan {
  color: #f8f6f6;
  background: #171f23;
  padding: 40px 0 100px 0; }
  .plan h1 {
    background: url(../img/title_border.png) no-repeat center bottom;
    padding: 20px 0; }
  .plan .plan_information {
    padding-top: 60px; }
    .plan .plan_information .price:hover {
      border: 2px solid #de4d3f;
      margin: -2px 0; }
      .plan .plan_information .price:hover span {
        color: #de4d3f; }
    .plan .plan_information .container {
      display: flex; }
      .plan .plan_information .container .plan_price {
        background-color: #0e1316;
        padding: 20px; }
        .plan .plan_information .container .plan_price h3 {
          font-weight: 1000;
          font-size: 12px;
          margin-bottom: 0; }
        .plan .plan_information .container .plan_price h4 {
          font-weight: 300;
          font-size: 42px;
          margin-bottom: 0; }
      .plan .plan_information .container .plan_info {
        background-color: #1f282c;
        padding: 20px 20px 60px 20px; }
        .plan .plan_information .container .plan_info .last_link {
          padding-bottom: 30px; }
        .plan .plan_information .container .plan_info a {
          color: #f8f6f6;
          padding: 5px 30px;
          background-color: #f26c4f; }
        .plan .plan_information .container .plan_info a:hover {
          background-color: #de4d3f;
          padding: 5px 30px;
          color: #f8f6f6;
          text-decoration: none; }
        .plan .plan_information .container .plan_info span {
          font-weight: 1000; }

.get_in_touch {
  padding-top: 40px;
  padding-bottom: 100px; }
  .get_in_touch span {
    color: #de4d3f; }
  .get_in_touch input {
    padding-bottom: 20px; }
  .get_in_touch .touch_title h1 {
    background: url(../img/title_border.png) no-repeat center bottom;
    padding: 20px 0; }
  .get_in_touch .touch_title p {
    padding: 60px 25%;
    font-size: 18px; }
  .get_in_touch .touch_info {
    display: grid;
    grid-template-columns: auto auto; }
    .get_in_touch .touch_info input {
      margin: 10px 10%;
      background: rgba(0, 0, 0, 0);
      border-style: none;
      border-bottom: 1px solid #747474; }
  .get_in_touch .message {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-top: 40px; }
    .get_in_touch .message input {
      margin: 10px 17% 60px 17%;
      background: rgba(0, 0, 0, 0);
      border-style: none;
      border-bottom: 1px solid #747474; }
  .get_in_touch h3 {
    font-weight: 1000;
    font-size: 14px; }
  .get_in_touch a {
    background-color: #f26c4f;
    padding: 5px 30px;
    margin: 0 auto;
    color: #f8f6f6; }
  .get_in_touch a:hover {
    background-color: #de4d3f;
    text-decoration: none;
    color: #f8f6f6; }

.locate_on_map {
  padding: 20px 0;
  color: #f8f6f6;
  background: #0c1215;
  font-weight: 700;
  font-size: 20px; }

.map {
  display: none; }
  .map img {
    width: 100%; }

footer {
  background: #171f23;
  padding: 30px;
  color: #f8f6f6; }
  footer .fab {
    padding: 5px;
    color: #747474; }
  footer .fab:hover {
    color: #b7b7b7; }
  footer img {
    padding-bottom: 10px; }
  footer img:hover {
    opacity: .75; }
  footer h1 {
    font-weight: 1000;
    font-size: 20px; }
  footer h2 {
    font-weight: 800;
    font-size: 16px; }

/*# sourceMappingURL=style.css.map */
