@import url('https://fonts.googleapis.com/css?family=Prompt|Roboto:300');
$white:#f8f6f6;
$gray:#747474;
$lighter-gray:#ebebeb;
html{
	scroll-behavior: smooth;
}
body{
	background-color: #f2f2f2 !important;
	font-family: 'Roboto', sans-serif !important;

}
header{
	position: fixed;
	z-index: 10;
	width: 100%;
	a{
		color: $gray;
	}
	a:hover, a:focus{
		color: $lighter-gray;
		text-decoration: none;
		outline: 0;
	}
	.navbar{
		font-weight: 500;
		font-size: 18px;
	}
	.navbar-inverse{
		background-color: $white;
		border-color: #f2f2f2; 
	}
}
.main{
	background: #353535;
	color: $lighter-gray;
	padding-top: 200px;
	padding-bottom: 30px;
	img{
		padding-top: 170px;
	}
	p{
		color: $white;
	}
}
.about_us{
	.about_us_title{
		padding: 0px 20%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 10px 0;
		}
	}
	.about_us_information{
		padding: 40px 0 120px 0;
	}
	.col-md-3{
		img{
			padding: 15px;
		}
		background: $lighter-gray;
		margin: 0 45px;
		padding: 20px;
	}
	.about_us_bottom{
		background: #171f23;
		color: $white;
		.bottom_information{
		display: grid;
		grid-template-columns: auto auto;
		}
		.bottom_title{
			padding-top: 60px;
			h2{
				padding: 20px 0;
				font-weight: 800;
			}
			p{
				padding: 20px 20%;
			}
			a{
				background-color: #e87d72;
				padding: 5px 30px;
				color: $white;
				text-decoration: none;
			}
			a:hover{
				background-color: #de4d3f;
				padding: 5px 30px;
				color: $white;

			}
		}
		.bottom_right{
			padding: 0;
			background: url(../img/about_us/about_background.png) no-repeat;
			img{
				background-color: rgba(0,0,0,0.75);
				padding: 162px 290px;

			}
			img:hover{
				background: rgba(0,0,0,0.5);
			}
		}
	}
}
.our_work{
	.our_work_title{
		padding: 0 20%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 10px 0;
		}
		p{
			padding: 20px 0;
			font-size: 16px;
		}
	}
	.work_menu{
    	display: grid;
    	grid-template-columns: auto auto auto auto auto;
    }
    .work_slider_container{
    	.work_slider_info{
	    	a{
	    		color: $white;
	    	}
	    	button{
	    		text-decoration: none;
	    	}
	    }
	    .fade{
	    	display: none;
	   		}    
		
	}
	#wrapper{
		background-color: $gray;
	}
}

