@import url('https://fonts.googleapis.com/css?family=Prompt');
$white:#f8f6f6;
$gray:#747474;
$lighter-gray:#a2a2a2;
html{
	scroll-behavior: smooth;
}
body{
	background-color: #f2f2f2;
	font-family: 'Prompt', sans-serif;
	font-weight: 300;
	font-size: 16px;

}
p{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered{
	text-align: center;
}
header{
	width: 100%;
	a{
		color: $gray;
	}
	a:hover, a:focus{
		color: $lighter-gray;
		text-decoration: none;
		outline: 0;
	}
	.navbar{
		font-weight: 500;
		font-size: 18px;
	}
	.navbar-inverse{
		background-color: $white;
		border-color: #f2f2f2; 
	}
}
.main{
	background: #353535;
	color: $lighter-gray;
	padding-top: 200px;
	padding-bottom: 30px;
	img{
		padding-top: 170px;
	}
	p{
		color: $white;
	}
}
