@import url('https://fonts.googleapis.com/css?family=Prompt|Roboto:300');
$white:#f8f6f6;
$gray:#747474;
$lightish-gray:#ebebeb;
$lightish-red:#f26c4f;
$dark-blue:#171f23;
html{
	scroll-behavior: smooth;
}
body{
	background-color: #f2f2f2 !important;
	font-family: 'Roboto', sans-serif !important;
	a{
		font-weight: 1000;
	}

}
header{
	position: fixed;
	z-index: 10;
	width: 100%;
	a{
		color: $gray;
	}
	img:hover{
		opacity: .75;
	}
	a:hover{
		color: $lightish-gray;
		text-decoration: none;
		outline: 0;
	}
	.navbar{
		font-weight: 800;
		font-size: 18px;
	}
	.navbar-inverse{
		background-color: $white;
		border-color: #f2f2f2; 
	}
}
.main{
	background: $dark-blue;
	color: $lightish-gray;
	padding-top: 300px;
	padding-bottom: 30px;
	img{
		padding-top: 170px;
	}
	p{
		color: $white;
	}
	a{
	text-decoration: none;
	}
}
.about_us{
	padding-top: 40px;
	.about_us_title{
		padding: 20px 20%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 10px 0;
		}
	}
	.about_us_information{
		padding: 40px 0 120px 0;
	}
	.col-md-3{
		img{
			padding: 15px;
		}
		background: $lightish-gray;
		margin: 0 45px;
		padding: 20px;
	}
	.about_us_bottom{
		background: $dark-blue;
		color: $white;
		.bottom_information{
			display: flex;
		}
		.bottom_title{
			padding-top: 60px;
			h2{
				padding: 20px 0;
				font-weight: 800;
			}
			p{
				padding: 20px 20%;
			}
			a{
				background-color: #e87d72;
				padding: 5px 30px;
				color: $white;
				text-decoration: none;
			}
			a:hover{
				background-color: #de4d3f;
				padding: 5px 30px;
				color: $white;
			}
		}
		.bottom_right{
			padding: 0;
			background: url(../img/about_us/about_background.png) no-repeat;
			background-size: 100%;
			img{
				background-color: rgba(0,0,0,0.75);
				padding: 20% 44%;

			}
			img:hover{
				background: rgba(0,0,0,0.5);
			}
		}
	}
}
.our_work{
	padding-top: 40px;
	.our_work_title{
		padding: 20px 20%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding-bottom: 10px;
		}
		p{
			padding-bottom: 20px;
			font-size: 18px;
		}
	}
	#portfolio {  
	    margin: 1rem 0;
	    -webkit-column-count: 3; 
	    -moz-column-count: 3;
	    column-count: 4;
	    -webkit-column-gap: 1rem;
	    -moz-column-gap: 1rem;
	    column-gap: 1rem;
	}
	.tile img {
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	    margin-bottom: 1rem;
	}
	.btn {
	    font-family: Lato;
	    font-size: 1rem;
	    font-weight: normal;
	    text-decoration: none;
	    cursor: pointer;
	    display: inline-block;
	    line-height: normal;
	    padding: .5rem 1rem;
	    margin: 0;
	    height: auto;
	    vertical-align: middle;
	    -webkit-appearance: none;
	    color: #555;
	    background-color: rgba(0, 0, 0, 0);
	}
	.btn:hover {
		outline: none;
	  border-color: var(--darken-2);
	  box-shadow: 0 0 0 3px var(--darken-3);
	}
	.btn:focus{
	  outline: none;
	  border-color: var(--darken-2);
	  box-shadow: 0 0 0 3px var(--darken-3);
	}
	#wrapper{
		background-color: $dark-blue;
		padding: 100px 25% 100px 29%; 
	}
}
.who_we_are{
	padding-top: 40px;
	padding-bottom: 100px;
	.who_we_are_title{
		padding: 0 20%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 20px 0;
		}
		p{
			padding: 20px 0;
			font-size: 18px;
		}
	}
	.who_we_are_slider{
		padding-top: 60px;
		.all_info{
			display: flex !important;
			flex-direction: row;
		}
		.left_side{
			background-color: $lightish-gray;
			padding-top: 60px;
			margin-right: 20px;
			h2{
				padding-top: 20px;
				font-weight: 800;
				font-size: 24px;
			}
			h3{
				font-weight: 300;
				font-size: 16px;
				padding-bottom: 15px;
			}
			.avatar{
				height: 100px;
				width: 100px;
				background-color: $lightish-red;
				border-radius: 50%;
				display: inline-block;
				padding-bottom: 20px;
			}
			.fab{
				padding: 5px;
				color: $gray;
			}
			.fab:hover{
				color: #b7b7b7;
			}
		}
		
		.right_side{
			padding: 100px 5% 30px 5%;
			background-color: $lightish-gray;
			h2{
				font-weight: 1000;
				font-size: 24px;
			}
			h3{
				font-weight: 800;
				font-size: 16px;
			}
			p{
				font-size: 16px;
				padding-bottom: 15px;
			}
			.skill_bar{
				height: 10%;
				background: #ddd;
				text-align: left;
				margin-top: 8px;	
			}
			.skill{
				display: grid;
				grid-template-columns: 150px 450px 40px;
			}
			.skill1{
				height:100%; 
				width: 88%; 
				background-color: $lightish-red;
				font-size: 1px;
			}
			.skill2{
				height:100%;
				width: 92%; 
				background-color: $lightish-red;
				font-size: 1px;
			}
			.skill3{
				height:100%;
				width: 90%; 
				background-color: $lightish-red;
				font-size: 1px;
			}
			.skill4{
				height:100%;
				width: 98%; 
				background-color: $lightish-red;
				font-size: 1px;
			}
		}
	}
}
.some_features{
	padding: 60px 0;
	background: $dark-blue;
	color: $white;
	.features_title{
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 20px 0;
		}
	}
	.features_information{
		padding-top: 50px;
		img{
			margin: 10px;
		}
		h3{
			font-weight: 400;
			margin: 10px;
		}
		p{
			font-weight: 1000;
			font-size: 46px;
		}
	}
}
.blog_posts{
	padding-bottom: 120px;
	padding-top: 40px;
	.blog_title{
		padding: 0 25%;
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 20px 0;
		}
		p{
			padding: 60px 0;
			font-size: 18px;
		}
	}
	.container{
		display: flex;
		.col-md-4{
			background: $lightish-gray;
			padding: 0;
   			border: 10px solid #f2f2f2;
		}
		h3{
			padding: 15px;
		}
		p{
			padding: 15px;
		}
		.far{
			padding-bottom: 20px;
		}
	}	
	#link_button{	
		background: rgba(0,0,0,.75);
		padding: 77px;
		img{
			padding: 20px;
			margin: 0 auto;
		}
		img:hover{
			opacity: .75;
		}
		&:hover{
			background: url(../img/blog/background.png) no-repeat;
			background-size: 100%;
		}
	}
}
.plan{
	color: $white;
	background: $dark-blue;
	padding: 40px 0 100px 0;
	h1{
		background: url(../img/title_border.png) no-repeat center bottom;
		padding: 20px 0;
	}
	.plan_information{
		padding-top: 60px;
		.price:hover{
			border:2px solid #de4d3f;
			margin: -2px 0;
			span{
				color: #de4d3f;
			}
		}
		.container{
			display: flex;
			.plan_price{
				background-color: #0e1316;
				padding: 20px;
				h3{
					font-weight: 1000;
					font-size: 12px;
					margin-bottom: 0;
				}
				h4{
					font-weight: 300;
					font-size: 42px;
					margin-bottom: 0;
				}
			}
			.plan_info{
				background-color: #1f282c;
				padding: 20px 20px 60px 20px;
				.last_link{
					padding-bottom:30px; 
				}
				a{
					color: $white;
					padding: 5px 30px;
					background-color: $lightish-red;
				}
				a:hover{
					background-color: #de4d3f;
					padding: 5px 30px;
					color: $white;
					text-decoration: none;
				}
				span{
					font-weight: 1000;
				}
			}
		}
	}
}
.get_in_touch{
	padding-top: 40px;
	padding-bottom: 100px;
	span{
		color: #de4d3f;
	}
	input{
		padding-bottom: 20px;
	}
	.touch_title{
		h1{
			background: url(../img/title_border.png) no-repeat center bottom;
			padding: 20px 0;
		}
		p{
			padding: 60px 25%;
			font-size: 18px;
		}
	}
	.touch_info{
        display: grid;
        grid-template-columns: auto auto;
        input{
            margin: 10px 10%;
			background: rgba(0,0,0,0);
			border-style: none;
    		border-bottom: 1px solid $gray;
        }
    }
    .message{
        display: grid;
        grid-template-rows: auto auto auto;
        padding-top:40px; 
        input{
            margin: 10px 17% 60px 17%;
            background: rgba(0,0,0,0);
            border-style: none;
  		  	border-bottom: 1px solid $gray;
        }
    }
	h3{
		font-weight: 1000;
		font-size: 14px;
	}
	a{
		background-color: $lightish-red;
	    padding: 5px 30px;
    	margin: 0 auto;
    	color: $white;
	}
	a:hover{
		background-color: #de4d3f;
		text-decoration: none;
		color: $white;
	}
}
.locate_on_map{
	padding: 20px 0;
	color: $white;
	background: #0c1215;
	font-weight:700;
	font-size: 20px;
}
.map{
	display: none;
	img{
		width: 100%;
	}
}
footer{
	background: $dark-blue;
	padding: 30px;
	color: $white;
	.fab{
		padding: 5px;
		color: $gray;
	}
	.fab:hover{
		color: #b7b7b7;
	}
	img{
		padding-bottom: 10px;
	}
	img:hover{
		opacity: .75;
	}
	h1{
		font-weight: 1000;
		font-size: 20px;	
	}
	h2{
		font-weight: 800;
		font-size: 16px;
	}
}